/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} // end all elements

/* --------------------------- BODY --------------------------- */
body {
  font-family: $defaultFont;
  font-weight: $lightWeight;
  min-width: 320px;
  display: grid;
}

/* --------------------------- HEADER --------------------------- */
#headerWrapper {
  border-bottom: 1px solid $tColor;
}

header {
  display: grid;
  grid-template-columns: 50px auto 44px;
  column-gap: $gutter;
  align-items: center; // vertically
  padding: 0.5rem $gutter;

  span {
    font-size: 1.6rem;
    font-weight: $lightWeight;
  }
} // end header

/* --------------------------- NAVIGATION --------------------------- */
div#navWrapper {
  grid-row-start: 4;
  // Moves the navigation to the bottom of the page. Only works if it's displayed as a grid.
}

#top a,
#navLinks > a {
  display: block;
  text-align: right;
  font-size: 1.6rem;
  height: 44px;
  text-decoration: none;
  color: $pColor;
}

#top a {
  font-size: 2rem;
}

#navLinks > a {
  padding: 15px 13px 0;
}

nav {
  height: 100vh;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li a {
    display: block;
    color: blue;
    padding: 0.9rem 2vw;
    text-decoration: none;
    border-bottom: 1px solid red;
  }

  li.active a {
    color: purple;
  }
} // end nav

/* --------------------------- MAIN --------------------------- */
main {
  h1 {
    padding: 1rem $gutter 0.5rem $gutter;
    font-size: 1.5rem;
    color: purple;
    font-weight: $lightWeight;
  }

  p {
    padding: 0.5rem $gutter;
    color: #333;
    line-height: $leading;
  }
} // end main

/* --------------------------- FORM --------------------------- */
form.myForm {
  margin: 1rem $gutter;

  label {
    display: block;
    font-size: 0.8rem;
    color: orange;
    padding-top: 0.5rem;

    span {
      margin-left: 0.5rem;
    }
  }

  h3 {
    font-size: 0.9rem;
    color: blue;
    margin: 1.5rem 0 0.2rem 0;
    border-bottom: 1px solid blue;
  }

  input[type=text],
  input[type=tel],
  input[type=number],
  input[type=email],
  input[type=password],
  select {
    color: purple;
    display: block;
    margin: 0.1rem 0 1rem 0;
    border: 1px solid red;
    border-radius: 10px;
    border-bottom-width: 4px;
    border-bottom-color: yellow;
    font-size: 1rem;
    width: 250px;
    padding: 0.5rem $gutter;
  }

  #submit {
    border: none;
    background-color: blue;
    color: green;
    border-radius: 1.5rem;
    margin: 2rem 0;
    width: 250px;
    font-size: 1.2rem;
    -webkit-appearance: none;
    appearance: none;
  }
} // end form

/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
  color: green;
  background-color: black;
} // end footer wrapper

footer {
  font-size: 0.85rem;
  padding: 1rem $gutter;
  
  text-align: center;
  line-height: $leading;

 
} // end footer
