/* --------------------------- COLOR VARIABLES --------------------------- */
$pColor: #f9be04;
$sColor: #44a6dd;
$tColor: #f04037;

/* --------------------------- TYPOGRAPHY --------------------------- */
$defaultFont: 'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

/* --------------------------- SPACING --------------------------- */
$gutter: 10px;
